#text-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    background-color: #fafafa;
    color: #2d2930;
    font-family: Montserrat, sans-serif;
    font-variant: small-caps;
}

h1 {
    margin: 0;
}

.lambda {
    color: #32af8d;
    font-family: serif;
}
